// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
/*@import "../vendor/bootstrap/scss/bootstrap.scss";*/
@import "../Vendor/bootstrap/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";
@import "Register.scss";
@import "table.scss";
@import "ck-editor.scss";
@import "common.scss";

$allports: #00739f !default;

$colors: () !default;
$colors: map-merge( ("allports": $allports ), $colors );

$primary: $allports !default;

$theme-colors: () !default;
$theme-colors: map-merge( ( "primary": $allports ), $theme-colors);
