@model YUJCSR.Web.Project.Models.ResultListBudget

@{
	Layout = "_CRM-Layout";
}
<div class="container-fluid">
	<section>
		<div class="text-right">
			<a href=@Url.Action("CreateBudget","Project" , new { ProjectId = Model.projectId}) class="btn btn-primary btn-sm">Create Budget</a>
		</div>

		<div class="list-data mt-3">
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Budget</h6>
				</div>


				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Milestone</th>
									<th>Description</th>
									<th>Amount</th>
									<th>Actions </th>
								</tr>
							</thead>
							<tbody>
								@foreach (var data in Model.result)
								{
									<tr>
										<td> @data.milestone </td>
										<td> @data.description </td>
										<td> @data.amount </td>
										<td> <a href=@Url.Action("EditBudget","Project" , new { BudgetId = data.budgetID })><i class="fas fa-edit"></i></a> </td>
									</tr>
								}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
