@model YUJCSR.Web.Corporate.Models.LoginModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_UserLayout";
}

	<section class="login-section">
		<div class="row no-gutters">			
			<div class="col-lg-6 col-md-6">
				<div class="h-100 d-flex align-items-center justify-content-center">
					<div class="p-3 shadow-lg py-5 w-75" style="border-radius: 12px">
						<form action="" method="post" role="form" class="w-75 m-auto">
							<h1 class="text-primary">Company Login</h1>
							<h5 class="small mb-4"> Dont have an account yet? <a class="text-primary" href="/User/Register">Sign Up</a></h5>
							<div class="form-group">
								<label for="username" class="">Username*</label>
							<input asp-for="UserName" class="form-control" id="username" required>
							</div>
							<div class="form-group mb-4">
								<label for="pwd" class="">Password*</label>
								<input asp-for="Password" type="password" class="form-control" id="pwd" required>
							</div>
							<div class="form-group">
								<input type="submit" value="Login" class="btn btn-primary btn-block" />
							</div>

							@if (!string.IsNullOrEmpty(ViewBag.message))
							{
								<p>@ViewBag.message</p>
							}
						</form>
					</div>
				</div>
			</div>

		<div class="col-lg-6 col-md-6">
			<div class="d-flex align-items-center">
				<img src="/img/user/login.svg" style="max-height: 100vh" />
			</div>
		</div>
		</div>
	</section>


