@model YUJCSR.Web.Corporate.Models.CSOProfileModel
@{
    var cso = new CSOProfileModel();
    Layout = "_UserLayout";
}
<section class="signup-section">
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-6">
            <div class="d-flex align-items-center">
                <img src="/img/user/login.svg" style="max-height: 100vh" />
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="p-3 shadow-lg py-5 w-75" style="border-radius: 12px">
                    <form method="post" role="form" class="w-75 m-auto">
                        <h1 class="text-primary"> Company Sign-up</h1>
                        <h5 class="small mb-4"> Already have an account? <a class="text-primary" href="/User/Login">Sign in</a></h5>

                        <div class="form-group">
                            <label>Company name</label>
                            <input type="text" asp-for="EmailId" class="form-control" id="company">
                        </div>

                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" asp-for="CSOName" class="form-control" id="email" required>
                        </div>

                        <div class="form-group">
                            <label for="username">User Name*</label>
                            <input type="text" asp-for="UserName" class="form-control" id="username" required>
                        </div>

                        <div class="form-group mb-4">
                            <label for="pwd">Password*</label>
                            <input type="password" asp-for="Password" class="form-control" id="pwd" required>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Sign-Up" class="btn btn-primary btn-block" />
                        </div>

                        @if (!string.IsNullOrEmpty(ViewBag.message))
                        {
                            <p>@ViewBag.message</p>
                        }
                    </form>
                </div>                
            </div>
        </div>
    </div>
</section>

