@model YUJCSR.Web.Corporate.Models.CSOProfileModel
@{
    var cso = new CSOProfileModel();
    Layout = "_UserLayout";
}
<section class="wizard-section">
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-6">
            <div class="wizard-content-left d-flex justify-content-center align-items-center">
                <h1>Sign up</h1>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-wizard h-100 d-flex align-items-center">
                <form method="post" role="form" class="w-100">
                    @* <fieldset class="wizard-fieldset"> *@
                    <h5>Sign up</h5>
                    <div class="form-group">

                        <label class="wizard-form-text-label">Company name</label>
                        <input type="text" asp-for="EmailId" class="form-control wizard-required" id="company">
                        <div class="wizard-form-error"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" asp-for="CSOName" class="form-control wizard-required" id="email">
                        <label for="email" class="wizard-form-text-label">Email*</label>
                        <div class="wizard-form-error"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="UserName" class="form-control wizard-required" id="username">
                        <label for="username" class="wizard-form-text-label">User Name*</label>
                        <div class="wizard-form-error"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="Password" class="form-control wizard-required" id="pwd">
                        <label for="pwd" class="wizard-form-text-label">Password*</label>
                        <div class="wizard-form-error"></div>
                        <span class="wizard-password-eye"><i class="far fa-eye"></i></span>
                    </div>
                    <div class="form-group clearfix text-center">
                        <input type="submit" value="Create" class="form-wizard-next-btn" />

                    </div>

                    @if (!string.IsNullOrEmpty(ViewBag.message))
                    {
                        <p>@ViewBag.message</p>
                    }
                </form>
            </div>
        </div>
    </div>
</section>

